/*
#dial-0 .needle path {
  fill: beige;
}

#dial-1 .needle path {
  fill: #b21f24;
}

#dial-2 .needle path {
  fill: steelblue;
} */

@font-face {
    font-family: SegoeUI;
    src: url('../latest_sl.eot?#iefix') format('embedded-opentype');
    src: url('./latest_sl.woff2') format("woff2");
    src: url('./latest_sl.woff') format("woff");
    src: url('./latest_sl.ttf') format("truetype");
}

@font-face {
    font-family: webly;
    src: url('./weblysleekuisb.ttf');
}


circle.label {
  fill: white;
}

line.label {
  stroke: white;
  stroke-width: 1px;
}

line.mlabel {
  stroke-width: 2px;
}

text.label {
  font-family: Arial;
  font-size: 12px;
  fill: white;
}

#dial-1 text.label {
  font-size: 16px;
}

#dial-2 text.label {
  font-size: 14px;
}
